.menu_modal_content {
  margin: auto;
  background: #f2ece2;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.menu_modal_content_inner {
  display: flex;
}
.menu_modal_content_inner_action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}
.menu_modal_button {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  background: #2d1312;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.menu_modal_button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.menu_modal_title {
  color: #2d1312;
  font-weight: 800;
  font-family: "Abhaya Libre", serif;
}
.menu_modal_subtitle {
  color: #2d1312;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.menu_modal_price {
  color: #2d1312;
  font-family: "ABeeZee", sans-serif;
  font-style: italic;
  font-weight: 800;
}
.menu_modal_input {
  display: flex;
  gap: 10px;
}
.menu_modal_input p {
  color: #2d1312;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.menu_modal_input input {
  outline: none;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 10px;
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .menu_modal_title {
    font-size: 32px;
  }
  .menu_modal_subtitle {
    font-size: 17px;
  }
  .menu_modal_price {
    font-size: 20px;
  }
  .menu_modal_input p {
    font-size: 17px;
  }
  .menu_modal_content_inner {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .menu_modal_content_inner_action {
    gap: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .menu_modal_title {
    font-size: 28px;
  }
  .menu_modal_subtitle {
    font-size: 15px;
  }
  .menu_modal_price {
    font-size: 20px;
  }
  .menu_modal_input p {
    font-size: 17px;
  }
  .menu_modal_content_inner {
    justify-content: space-between;
  }
  .menu_modal_content_inner_action {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1280px) {
  .menu_modal_title {
    font-size: 32px;
  }
  .menu_modal_subtitle {
    font-size: 17px;
  }
  .menu_modal_price {
    font-size: 20px;
  }
  .menu_modal_input p {
    font-size: 17px;
  }
  .menu_modal_content_inner {
    justify-content: space-between;
  }
  .menu_modal_content_inner_action {
    justify-content: space-evenly;
  }
}
